{
    "presets": [
        "env"
    ],
    "plugins": [
        "transform-decorators-legacy",
        "transform-runtime",
        "add-module-exports",
        "transform-object-rest-spread",
        "transform-class-properties"
    ]
}
